<<<<<<< HEAD

.contact-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    text-align: center;
}

/* Rubriker och text */
h1 {
    margin-bottom: 10px;
    font-size: 1.8em;
    color: #333;
}

p {
    font-size: 1em;
    margin-bottom: 20px;
    color: #666;
}

/* Formuläret och formulärfälten */
.contact-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    margin-bottom: 5px;
    display: block;
    color: #333;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
}

textarea {
    resize: vertical;
}

/* Skicka-knappen */
button[type="submit"] {
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.social-icons {
    position: fixed;
    bottom: 10px;
    left: 10px;
    }

.social-icons a {
    text-decoration: none;
    color: #0bf8cd;
    padding: 10px;
    margin: 5px;
    border-radius: 50%;
    display: inline-block;
}
.social-icons a.facebook {
    background: #4985b4;
}
.social-icons a.twitter {
    background: #557bb4;
}
.social-icons a.instagram {
    background: #e1306c;
}
=======
body {
 background-color: #3E2723; /* Mörk bakgrund */
 color: #FFFFFF; /* Vit text för kontrast */
 font-family: Arial, sans-serif;
}

label, input, textarea, button {
 display: block;
 margin-bottom: 1rem;
 width: 100%;
 max-width: 400px; /* För att hålla layouten enkel */
}

input, textarea {
 padding: 10px;
 font-size: 16px;
 border: 2px solid #FFFFFF; /* Vit ram för bättre kontrast */
 background-color: #5D4037; /* Mörkare bakgrund för bättre kontrast */
 color: #FFFFFF; /* Vit text i formulärfälten */
}

input:focus, textarea:focus, button:focus {
 outline: 3px solid #FFCC80; /* Gul fokusram för tydlig fokussynlighet */
}

button {
 background-color: #FF5722; /* Kontrasterande färg för knappen */
 color: #FFFFFF;
 font-size: 18px;
 padding: 10px;
 border: none;
 cursor: pointer;
}

button:hover {
 background-color: #E64A19; /* Mörkare på hover */
}

button:focus {
 outline: 3px solid #FFCC80; /* Fokusram på knappen */
}
>>>>>>> 6bd549dff5ca7b0a2b2f84a147a0a8b21dd14342
