
.contact-container {
    background-color: #3e2723;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    text-align: center;
}

/* Rubriker och text */
h1 {
    margin-bottom: 10px;
    font-size: 1.8em;
    color: burlywood;
}

p {
    font-size: 1em;
    margin-bottom: 20px;
    color: burlywood;
}

/* Formuläret och formulärfälten */
.contact-form {
    display: flex;
    flex-direction: column;
   
}

form{
 width: 30%;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
    
}

label {
    margin-bottom: 5px;
    display: block;
    color: burlywood;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
}

textarea {
    resize: vertical;
}

/* Skicka-knappen */
button[type="submit"] {
    background-color: #007BFF;
    color: #0b0b0b;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.social-icons {
    position: fixed;
    bottom: 10px;
    left: 10px;
    }

.social-icons a {
    text-decoration: none;
    color: #0bf8cd;
    padding: 10px;
    margin: 5px;
    border-radius: 50%;
    display: inline-block;
}
.social-icons a.facebook {
    background: #4985b4;
}
.social-icons a.twitter {
    background: #557bb4;
}
.social-icons a.instagram {
    background: #e1306c;
}