/* Recommendations Section Styling */
#recommendations {
    display: flex;
    gap: 20px;
    margin-top: 1rem;
    padding: 0;
    flex-wrap: wrap;
}

/* Grid layout: large box on top, smaller boxes below */
.product-large {
    box-sizing: content-box;
    position: relative;
    overflow: hidden;
    max-height: 400px;
}

.product-smaller {
    grid-area: product-smaller;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.small-box {
    flex: 1;
    /* margin-top: clamp(1%, 2%, 1rem); */
    text-align: center;
    overflow: hidden; /* Hide overflow */
    height: clamp(200px, 250px, 300px); /* Set a fixed height for consistency */
    position: relative; /* For positioning the title */
    min-width: 220px;
    max-width: 250px, 100%, 350px;
    border: 2px solid black;
}

.small-box img {
    width: 100%;
    height: 100%; /* Cover the height of the box */
    object-fit: cover; /* Maintain aspect ratio */
}

.small-box-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30%; /* Cover 30% of the image */
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    text-align: center;
    padding: 10px; /* Add padding for better spacing */
    font-size: 1.2em; /* Increase font size */
    opacity: 0; /* Hidden by default */
    transition: opacity 0.3s ease-in-out;
    display: flex; /* Use Flexbox for centering */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

/* HOVER */
.small-box:hover .small-box-title {
    opacity: 1; /* Show on hover */
}

/* link text decorations */
.small-box .small-box-title a{
    color: white; /* Change text color to white */
    text-decoration: none;
}

/* HOVER link text color decorations */
.small-box:hover .small-box-title a{
    color: white; /* Change text color to white */
    text-decoration: none;
}

